{% extends 'CcmCfdiBundle::layout.html.twig' %}

{% block body -%}

    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="alert alert-success" role="alert">
            {{ flashMessage }}
        </div>
    {% endfor %}

    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="alert alert-danger" role="alert">
            {{ flashMessage }}
        </div>
    {% endfor %}

    {#  xml #}

    <div class="page-header">
        <h4>Carga de archivo XML</h4>
    </div>

    {# Boorar etiqueta #}
    {{ form(form) }}

{% endblock %}
